.login {
  height: auto;
  width: 350px;
  background-color:#cbebe6d4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
}
.lContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.lInput {
  height: 30px;
  width: 300px;
  padding: 8px;
  border-radius: 10px;
  border: 0.5px solid grey;
}
.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}